# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
*.log

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeTmp/
CMakeLists.txt.user
Makefile
cmake_install.cmake

# C++
*.o
*.obj
*.exe
*.out
*.class
*.dll
*.dylib
*.so
*.a
*.lib
*.lo
*.la
*.lai
*.slo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ncb
*.suo
*.user
*.userosscache
*.userprefs
*.pch
*.pdb
*.idb
*.ipch
*.aps
*.res
*.ilk
*.iobj
*.ipdb
*.tlog
*.log
*.lastbuildstate
*.sbr
*.sdf
*.opensdf
*.cache
*.csproj.user
*.csproj.userosscache
*.csproj.userprefs
*.pdb
*.opendb
*.tlog
*.lastbuildstate
*.sbr
*.sdf
*.opensdf
*.cache
*.csproj.user
*.csproj.userosscache
*.csproj.userprefs
*.pdb
*.opendb